<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Sign In</h1>    
    <form method="post" action="/user/signin">
        <p>
            <label for="email">email : </label>
            <input type="email" name="email" id="email">  
        </p>
        <p>
            <label for="password">password : </label>
            <input type="password" name="password" id="password">  
        </p>
        <p>
            <button type="submit">SignIn</button>
        </p>
    </form>
</body>
</html>